@charset "UTF-8";

body {
    background: rgb(37, 37, 220);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

header {
    color: white;
    text-align: center;
}

section {
    background: #D7D8d7;
    border-radius: 10px;
    padding: 15px;
    max-width: 50%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.358);
}
div {
    text-align: center;
    padding: 5px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}